<h2 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Sign up for an account
</h2>

<form class="ui form segment">
       <%= form_for( :user, html: { class: "ui form", role: "form" }, url: signup_path) do |f|%>
          <div class="field">
            <%= f.label :email, "Email:" %>
            <div class="ui left icon input">
              <%= f.text_field :email, placeholder: "Email" %>
              <i class="envelope icon"></i>
            </div>
            <div class="field">
              <%= f.label :username, "Username:" %>
              <div class="ui left icon input">
                <%= f.text_field :username, placeholder: "Username" %>
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <%= f.label :password %>
              <div class="ui left icon input">
                <%= f.password_field :password, placeholder: "Password" %>
                <i class="lock icon"></i>
              </div>
            </div>
            <%= button_tag(class:"signup icon ui orange submit button") do %>
              <i class="signup icon"></i>
              Signup  
            <% end %>
          <% end %>
</form>